python-dotenv==1.0.1
pydantic==2.8.2
pydantic-settings==2.4.0
httpx==0.27.2

# Web framework
fastapi==0.111.1
uvicorn==0.30.6

# Data processing / ML core
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
joblib==1.4.2

# API upload handling
python-multipart==0.0.9
